<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 延时加载 -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			com.vvvv.common.view.filter.CustomHibernateSessionFilter</filter-class>
		<!-- 是否单个Session-->
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- 在applicationCointext*.xml中配置的SessionFactory bean的id名-->
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>sessionFactory</param-value>
		</init-param>
			
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- spring mvc-->
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:config/spring/webmvc-config.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>spring-mvc2</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:config/spring/webmvc-config.xml</param-value>
		</init-param>
	</servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.vvvv.lamps.view.head.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.vvvv.lamps.view.head.servlet.LoginServlet</servlet-class>
  </servlet>



	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring-mvc2</servlet-name>
		<url-pattern>*.php</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
	<!-- Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:config/spring/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- utf-8编码 -->
	<filter>
		<filter-name>Spring character encoding filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Spring character encoding filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!--未经授权-->
	<error-page>
		<error-code>401</error-code>
		<location>/user_login.jsp</location>
	</error-page>
	<!--禁止访问-->
	<error-page>
		<error-code>403</error-code>
		<location>/commons/403.jsp</location>
	</error-page>
	<!--未发现请求URL-->
	<error-page>
		<error-code>404</error-code>
		<location>/commons/404.jsp</location>
	</error-page>

	<!-- 内部服务器错误-->
	<error-page>
		<error-code>500</error-code>
		<location>/commons/error.jsp</location>
	</error-page>
	<!-- 空指针-->
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/index.jsp</location>
	</error-page>
</web-app>
